<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
http://www.springframework.org/schema/beans  
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/context  
http://www.springframework.org/schema/context/spring-context.xsd">
<context:component-scan  base-package="org.hospital.controller" />  
  
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="/" />  
        <property name="suffix" value=".jsp" />  
    </bean>  
  
   <bean id="adminservice" class="org.hospital.services.AdminService"></bean>  
    <bean id="patientservice" class="org.hospital.services.PatientService"></bean>  

      
     <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
         <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
         <property name="url" value="jdbc:mysql://localhost:3306/hospital?createDatabaseIfNotExist=true"></property>
         <property name="username" value="root"></property>
         <property name="password" value="mysql"></property>
    </bean>
 <!-- 
<bean id="dataSource" class="org.appache.commons.dbcp.BasicDataSource">
    </bean>  
 -->      
 
      
    <bean id="txmanager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
         <property name="dataSource" ref="dataSource"></property>
    </bean>


    <bean id="sessionFactory"  class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">  
         <property name="dataSource" ref="dataSource"></property>  
         <property name="configLocation" value="classpath:hibernate.xml">
         <!-- <value>/WEB-INF/hibernate.xml</value> -->
         </property>
     </bean>
     

     <bean id="template" class="org.springframework.orm.hibernate3.HibernateTemplate">  
          <property name="sessionFactory" ref="sessionFactory"></property>  
      </bean>
      

      
    <mvc:resources mapping="/resources/**" location="/resources/"></mvc:resources>
<mvc:annotation-driven/>
</beans>  